@charset "utf-8";
/* CSS Document */
p { 
   color:black;
   font-size: 16px;
   line-height: 18px;
   width: 600px;
   padding: 20px;
   background:lightblue;
} 

h1, h3 { 
color: yellow;
} 


body { 

            background-color: blue;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white; /* Bijeli tekst da se bolje vidi */
            font-family: Arial, sans-serif
} 
a {
	color:black;
	background-color:white;
} 
	